<div class="h-full max-w-[500px] relative flex flex-col justify-between rounded-4xl shadow-md bg-white">
    <button (click)="updateProduct(item)" matTooltip="Edit Product"
        class="absolute top-2 left-2 hover:cursor-pointer flex justify-center items-center p-2 rounded-xl bg-gray-800 hover:bg-gray-600">
        <mat-icon style="color: white;">edit</mat-icon>
    </button>

    <!-- Image -->
    <div class="p-5">
        <div class="w-full aspect-[16/9] flex items-center justify-center">
            <img class="w-full h-full object-contain mix-blend-multiply"
                [src]="item.image !== '' ? item.image : '../../../assets/no-image.png'" [alt]="item.name" />
        </div>
    </div>
    <!-- Product Brand and Name -->
    <div class="px-6 py-2">
        <div class="w-full flex items-center justify-between gap-4">
            <div class="text-xl font-bold">{{ item.brand }}</div>
            <div class="text-l font-medium">{{ item.name }}</div>
        </div>
    </div>
    <!-- Availability badge-->
    <div class="block text-center text-sm font-semibold py-2 rounded-full" [class.text-green-700]="item.inStock"
        [class.text-red-700]="!item.inStock">
        {{ item.inStock ? '' : 'Out of stock' }}
    </div>
    <!-- Product Price -->
    <div *ngIf="item.inStock" class="px-6 py-2 flex justify-between items-center">
        <div class="text-lg font-medium">€{{ item.price }}</div>

    </div>
    <div *ngIf="item.inStock" class="flex justify-center p-3">
        <button (click)="addToCard(item)" class="hover:cursor-pointer w-full flex justify-center items-center gap-2 bg-gray-900 text-white px-4 py-2 rounded-2xl hover:bg-gray-700
        transition">
            <mat-icon>add_shopping_cart</mat-icon>
            Add to card
        </button>
    </div>

</div>