<div class="grid grid-cols-1  lg:grid-cols-[200px_1fr]">
    <app-filter></app-filter>
    <div class="p-6 mx-10 rounded-2xl min-h-screen bg-white">

        <!-- grid display
        1 column on small screens
        2 columns on medium screens
        3 columns on large screens 
        5 columns on x-large screens
        gap between each column 

    -->
        <div class="grid  sm:grid-cols-[70%] md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-5 justify-center ">
            @for (product of PRODUCTS; track $index) {
            <app-item [item]="product"></app-item> }
        </div>
    </div>
</div>